.about-us {
/* From https://css.glass */
background: rgba(37, 61, 101, 0.51);
border-radius: 16px;
box-shadow: 0 0px 4px rgba(255, 255, 255, 0.2);
backdrop-filter: blur(15.5px);
-webkit-backdrop-filter: blur(15.5px);
border: 1px solid rgba(37, 61, 101, 0.26);
}