<footer class="text-center">
  <ul class="list_inline">
    <li>
      <a class="logo" href="#">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a class="logo" href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a class="logo" href="#">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
  <%# <p>Powered by RBBE-corp.</p> %>
  <p>Copyright <i class="far fa-copyright"></i> 2022 RBBE-Corp. All Rights Reserved.</p>
</footer>
