<div class="container pt-5">
  <div class="about-us p-3 rounded">
    <h3 class="fw-bold" style="text-align: center">About Us</h3>
    <p class="text-white">In today's modern era, where people have more access to information and communication networks than any other time in history,
    perhaps we are more distant and separate from each other than ever before.
    </p>
    <p class="text-white">Our team's mission is to help forge positive and constructive bonds within communities,
    by promoting social responsibilty through collaborative projects.
    We also aim to encourage top down participation and support through government and corporate sponsorship of such projects.
    </p>
  </div>

  <div class="team-box">
     <h1 class="h1-text">
      <i class="fa fa-users" aria-hidden="true"></i>Team Members
    </h1>
    <div class="container">
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="checkbox" class="heart-btn" id="heart-btn-1">
          <label class="heart" for="heart-btn-1"></label>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/86738640?v=4" alt="">
          <strong>Reona Kasuya</strong>
          <p>kasuyareona@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/Reona001"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <div>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </div>
          <div>
            <input type="checkbox" class="heart-btn" id="heart-btn-2">
            <label class="heart" for="heart-btn-2"></label>
          </div>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/78086454?v=4" alt="">
          <strong>Byron Lee</strong>
          <p>leebyron@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/switchloops"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="checkbox" class="heart-btn" id="heart-btn-3">
          <label class="heart" for="heart-btn-3"></label>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/37336776?v=4" alt="">
          <strong>Erika Kawashima</strong>
          <p>kawashimaerika@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/marshallekm"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="checkbox" class="heart-btn" id="heart-btn-4">
          <label class="heart" for="heart-btn-4"></label>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/83071733?v=4" alt="">
          <strong>Babin Bohora</strong>
          <p>bohorababin@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/nibab-boo"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
    </div>
  </div>
</div>
