<div class="container pt-5">

  <div class="about-us bg-white p-3 rounded">
    <h3 class="fw-bold">

      Story behind the scene
    </h4>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam excepturi omnis suscipit architecto necessitatibus, magnam quaerat asperiores voluptates dicta eius laborum dignissimos saepe consequuntur eaque natus ea minima veniam aperiam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit fugit vitae quibusdam voluptatibus praesentium enim. Doloribus, cum corporis dolore hic sunt reprehenderit veritatis voluptate fugit cumque dolorem libero veniam!
    </p>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam excepturi omnis suscipit architecto necessitatibus, magnam quaerat asperiores voluptates dicta eius laborum dignissimos saepe consequuntur eaque natus ea minima veniam aperiam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit fugit vitae quibusdam voluptatibus praesentium enim. Doloribus, cum corporis dolore hic sunt reprehenderit veritatis voluptate fugit cumque dolorem libero veniam!
    </p>
  </div>

  <div class="team-box">
     <h1 class="h1-text">
      <i class="fa fa-users" aria-hidden="true"></i>Team Members
    </h1>
    <div class="container">
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="checkbox" class="heart-btn" id="heart-btn-1">
          <label class="heart" for="heart-btn-1"></label>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/86738640?v=4" alt="">
          <strong>Reona Kasuya</strong>
          <p>kasuyareona@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/Reona001"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <div>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </div>
          <div>
            <input type="checkbox" class="heart-btn" id="heart-btn-2">
            <label class="heart" for="heart-btn-2"></label>
          </div>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/78086454?v=4" alt="">
          <strong>Byron Lee</strong>
          <p>leebyron@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/switchloops"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="checkbox" class="heart-btn" id="heart-btn-3">
          <label class="heart" for="heart-btn-3"></label>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/37336776?v=4" alt="">
          <strong>Erika Kawashima</strong>
          <p>kawashimaerika@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/marshallekm"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
      <div class="content-box">
        <div class="top-bar"></div>
        <div class="top">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <input type="checkbox" class="heart-btn" id="heart-btn-4">
          <label class="heart" for="heart-btn-4"></label>
        </div>
        <div class="content">
          <img src="https://avatars.githubusercontent.com/u/83071733?v=4" alt="">
          <strong>Babin Bohora</strong>
          <p>bohorababin@gmail.com</p>
        </div>
        <div class="btn">
          <a href="https://github.com/nibab-boo"><i class="fab fa-github" aria-hidden="true"></i>Github</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
        </div>
      </div>
    </div>
  </div>
</div>
