<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# if current user has a project show the contributions page %>
<% if current_user == @sponsor %>
  <p><%= link_to 'Contributions', sponsor_contributions_path %></p>
<% else %>
  <p><%= link_to 'Projects', projects_path %></p>
  <p><%= link_to 'Contributions', contributions_path %></p>
<% end %>

<%# Erase when ready for deployment %>
<p><%= link_to 'Contributions', sponsor_contributions_path %></p>
