<div class="container">
  <div class="form-container">
    <div class="w-50 mx-auto shadow py-5 my-5 bg-body rounded">
      <h2>Create your project </h2>
      <%= render 'components/project-form'  %>
    </div>
  </div>
</div>
