footer {
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  padding: 1em;
  height: 100px;
}

.list_inline {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.list_inline > li {
  display: inline-block;
  margin: 0 20px;
  font-size: 24px;
}

.logo i {
  transition: transform 0.8s;
}

.logo i:hover {
  transform: scale(1.8, 1.8) rotate(360deg);
}
