.navbar-lewagon {
  justify-content: space-between;
  height: 84px;
  background-color: rgb(49, 219, 235);
  // padding-left: 26px;
  width: 100vw;
  background: rgb(231,233,237);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
}
